<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{g.user}}'s Profile
          </h1>
          <h2 class="subtitle">
            Your email: {{g.email}}
          </h2>
          <br>
          <h1 class="title">
            One Time Password: {{ g.otp }}
          </h1>
          <img src="static/qrcode-{{ g.user }}.png" alt="QRCODE">
             <form method="GET" action="login">
                <div class="field">
                    <p class="control">
                        <button type="submit" class="button is-white">
                         Logout
                        </button>
                     </p>
                </div>
             </form>
        </div>
      </div>
    </section>
  </body>
</html>
